{% extends "layout.html" %}

{% block body %}
<div class="container-fluid" style=" padding: 35px;  ">
    <p class="fs-2">Our Team </p>
    <div class="d-flex flex-wrap" style="justify-content: center;margin-bottom: 45px; ">

        </br>
        {% for doctor in doctors %}

        <div style="align-items: center; text-align: center; padding: 25px 0px 0 0px;  ">
            <div class="card" style=" width: 18rem; height: auto">
                {% if doctor.image %}
                <img height="300" width="300" style="object-fit: cover; " src="{{doctor.image.url}}"
                    class="card-img-top" alt="...">
                {%else%}
                <img height="300" width="300"
                    src="https://imgs.search.brave.com/jLTwrBSRPcoyhBJs1uPbMl500isS1N2O0JlI3BLUQoY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvY29vbC1wcm9m/aWxlLXBpY3R1cmUt/ODdoNDZnY29iamw1/ZTR4dS5qcGc"
                    class="card-img-top" alt="...">
                {%endif%}

                <div class="card-body" style="padding-bottom: 0; flex: 0">
                    <h5 class="card-title">{{doctor.user.first_name}} {{doctor.user.last_name}}</h5>
                    <p class="card-text" style="height: 100px;padding-bottom: 0;">{% if doctor.description %}
                        {{doctor.description}} {%endif%}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{doctor.position}}</li>
                    <li class="list-group-item">{{doctor.phone}}</li>
                    <li class="list-group-item" style="height: 50px;"></li>
                    {% for doctortime in available %}

                    {% if doctortime.doctor.user.first_name == doctor.user.first_name %}
                    {% if doctortime.lunes %}
                    <li class=" list-group-item" style="background-color: rgb(243, 231, 217);">Monday</li>
                    {% for time in doctortime.lunes %}
                    <li class="list-group-item">{{time}}</li>
                    {%endfor%}
                    {%endif%}

                    {% if doctortime.martes %}
                    <li class="list-group-item" style="background-color: rgb(243, 231, 217);">Tuesday</li>
                    {% for time in doctortime.martes %}
                    <li class="list-group-item">{{time}}</li>
                    {%endfor%}
                    {%endif%}

                    {% if doctortime.miercoles %}
                    <li class="list-group-item" style="background-color: rgb(243, 231, 217);">Wednesday</li>
                    {% for time in doctortime.miercoles %}
                    <li class="list-group-item">{{time}}</li>
                    {%endfor%}
                    {%endif%}

                    {% if doctortime.jueves %}
                    <li class="list-group-item" style="background-color: rgb(243, 231, 217);">Thursday</li>
                    {% for time in doctortime.jueves %}
                    <li class="list-group-item">{{time}}</li>
                    {%endfor%}
                    {%endif%}

                    {% if doctortime.viernes %}
                    <li class="list-group-item" style="background-color: rgb(243, 231, 217);">Friday</li>
                    {% for time in doctortime.viernes %}
                    <li class="list-group-item">{{time}}</li>
                    {%endfor%}
                    {%endif%}

                    {% if doctortime.sabado %}
                    <li class="list-group-item" style="background-color: rgb(243, 231, 217);">Saturday</li>
                    {% for time in doctortime.sabado %}
                    <li class="list-group-item">{{time}}</li>
                    {%endfor%}
                    {%endif%}
                    {% endif %}
                    {%endfor%}



                </ul>


            </div>
        </div>

        {%endfor%}
    </div>
</div>
{% endblock %}