{% extends "layout.html" %}

{% block body %}
<div class="container-fluid" style=" padding: 35px">
    <p class="fs-2">Our Team </p>
    <div class="d-flex flex-wrap">

        </br>
        {% for doctor in doctors %}


        <div style="align-items: center; text-align: center; padding: 25px 25px 0 0px;">
            <div class="card" style=" width: 18rem; height: 600px;">
                {% if doctor.image %}
                <img height="300" width="300" src="{{doctor.image.url}}" class="card-img-top" alt="...">
                {%else%}
                <img height="300" width="300"
                    src="https://imgs.search.brave.com/jLTwrBSRPcoyhBJs1uPbMl500isS1N2O0JlI3BLUQoY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvY29vbC1wcm9m/aWxlLXBpY3R1cmUt/ODdoNDZnY29iamw1/ZTR4dS5qcGc"
                    class="card-img-top" alt="...">
                {%endif%}

                <div class="card-body" style="padding-bottom: 0; flex: 0">
                    <h5 class="card-title">{{doctor.user.first_name}} {{doctor.user.last_name}}</h5>
                    <p class="card-text" style="height: 100px;padding-bottom: 0;">{{doctor.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{doctor.position}}</li>
                    <li class="list-group-item">{{doctor.available}}</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <!-- <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div> -->
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}