{% extends "layout.html" %}
{% load static %}
{% block body %}

{% if message %}
<div>{{ message }}</div>
{% endif %}
<div class="container-fluid" style=" padding: 35px 35px 0px 25px;">


    <p class="fs-2">Profile {{doctor.user.first_name}} </p>

    <div class="row" style="align-items: center; justify-content: center; text-align: center;">
        <div class="col-sm-4">
            {% if doctor.image %}
            <img style="object-fit: cover; height: 350px; width: 350px;" src="{{ doctor.image.url}}" alt="">
            {%else%}
            <img style="object-fit: cover; height: 350px; width: 350px;"
                src="https://imgs.search.brave.com/jLTwrBSRPcoyhBJs1uPbMl500isS1N2O0JlI3BLUQoY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvY29vbC1wcm9m/aWxlLXBpY3R1cmUt/ODdoNDZnY29iamw1/ZTR4dS5qcGc"
                class="card-img-top" alt="...">
            {%endif%}
            <form style="margin: 10px;" method="post" id="formpic" enctype="multipart/form-data">
                <input type='file' name='imagefile'>
                <button type="submit">Upload</button>
            </form>
        </div>
        <div class="col-sm-8">
            <table class="table" style="float: right">

                <br>
                <img id="imagePreview">
                <tbody>
                    <tr id="tname">
                        <th scope="row">Name :</th>
                        <td id="fname">{{doctor.user.first_name}}</td>
                        <td colspan="2" id="nbutton"><button id="buttonEditN" style="float: right;"
                                class="btn btn-secondary" onclick="editFirst()">
                                Edit </button></td>
                    </tr>
                    <tr id="tlast">
                        <th scope="row">Last Name :</th>
                        <td id="lname">{{doctor.user.last_name}}</td>
                        <td colspan="2" id="lbutton"><button id="buttonEditL" style="float: right;"
                                class="btn btn-secondary" onclick="editLast()">
                                Edit </button></td>
                    </tr>
                    <tr id="tgender">
                        <th scope="row">Gender :</th>
                        <td colspan="1" id="gender">{{doctor.gender}}</td>
                        <td colspan="2" id="gbutton"><button id="buttonEditG" style="float: right;"
                                class="btn btn-secondary" onclick="editGender()">
                                Edit </button></td>
                    </tr>
                    <tr id=" tphone">
                        <th scope="row">Phone :</th>
                        <td colspan="1" id="pphone">{{doctor.phone}}</td>
                        <td colspan="2" id="tbutton"><button id="buttonEdit" style="float: right;"
                                class="btn btn-secondary" onclick="editPhone()">
                                Edit </button></td>

                    </tr>

                    <tr id=" tavailable">
                        <th scope="row">Available :</th>

                        <td colspan="1" id="available">

                            <div id="availabledata">
                                {% if daytime.lunes %}
                                Lunes : {% for time in daytime.lunes %}
                                {{time | safe }}
                                &nbsp&nbsp&nbsp
                                {%endfor%}
                                <br>
                                {%endif%}

                                {% if daytime.martes %}
                                Martes : {% for time in daytime.martes %}
                                {{time | safe }}
                                &nbsp&nbsp&nbsp
                                {%endfor%}
                                <br>
                                {%endif%}

                                {% if daytime.miercoles %}
                                Miercoles : {% for time in daytime.miercoles %}
                                {{time | safe }}
                                &nbsp&nbsp&nbsp
                                {%endfor%}
                                <br>
                                {%endif%}

                                {% if daytime.jueves %}
                                Jueves : {% for time in daytime.jueves %}
                                {{time | safe }}
                                &nbsp&nbsp&nbsp
                                {%endfor%}
                                <br>
                                {%endif%}

                                {% if daytime.viernes %}
                                Viernes : {% for time in daytime.viernes %}
                                {{time | safe }}
                                &nbsp&nbsp&nbsp
                                {%endfor%}
                                <br>
                                {%endif%}

                                {% if daytime.sabado %}
                                Sabado : {% for time in daytime.sabado %}
                                {{time | safe }}
                                &nbsp&nbsp&nbsp
                                {%endfor%}

                                {%endif%}


                            </div>
                            <select class="form-select form-select-lg mb-3" style="text-align: center;" multiple
                                name="option" id="lunes">
                                <option value="">--Lunes--</option>
                                <option value="09:00 – 10:00">09:00 – 10:00</option>
                                <option value="10:00 – 11:00">10:00 – 11:00</option>
                                <option value="11:00 – 12:00">11:00 – 12:00</option>
                                <option value="13:00 – 14:00">13:00 – 14:00</option>
                                <option value="14:00 – 15:00">14:00 – 15:00</option>
                                <option value="15:00 – 16:00">15:00 – 16:00</option>
                                <option value="16:00 – 17:00">16:00 – 17:00</option>
                                <option value="17:00 – 18:00">17:00 – 18:00</option>
                                <option value="18:00 – 19:00">18:00 – 19:00</option>
                            </select>
                            <select class="form-select form-select-lg mb-3" style="text-align: center;" multiple
                                name="optionm" id="martes">
                                <option value="">--Martes--</option>
                                <option value="09:00 – 10:00">09:00 – 10:00</option>
                                <option value="10:00 – 11:00">10:00 – 11:00</option>
                                <option value="11:00 – 12:00">11:00 – 12:00</option>
                                <option value="13:00 – 14:00">13:00 – 14:00</option>
                                <option value="14:00 – 15:00">14:00 – 15:00</option>
                                <option value="15:00 – 16:00">15:00 – 16:00</option>
                                <option value="16:00 – 17:00">16:00 – 17:00</option>
                                <option value="17:00 – 18:00">17:00 – 18:00</option>
                                <option value="18:00 – 19:00">18:00 – 19:00</option>
                            </select>
                            <select class="form-select form-select-lg mb-3" style="text-align: center;" multiple
                                name="optionmi" id="miercoles">
                                <option value="">--Miercoles--</option>
                                <option value="09:00 – 10:00">09:00 – 10:00</option>
                                <option value="10:00 – 11:00">10:00 – 11:00</option>
                                <option value="11:00 – 12:00">11:00 – 12:00</option>
                                <option value="13:00 – 14:00">13:00 – 14:00</option>
                                <option value="14:00 – 15:00">14:00 – 15:00</option>
                                <option value="15:00 – 16:00">15:00 – 16:00</option>
                                <option value="16:00 – 17:00">16:00 – 17:00</option>
                                <option value="17:00 – 18:00">17:00 – 18:00</option>
                                <option value="18:00 – 19:00">18:00 – 19:00</option>
                            </select>
                            <select class="form-select form-select-lg mb-3" style="text-align: center;" multiple
                                name="optionj" id="jueves">
                                <option value="">--Jueves--</option>
                                <option value="09:00 – 10:00">09:00 – 10:00</option>
                                <option value="10:00 – 11:00">10:00 – 11:00</option>
                                <option value="11:00 – 12:00">11:00 – 12:00</option>
                                <option value="13:00 – 14:00">13:00 – 14:00</option>
                                <option value="14:00 – 15:00">14:00 – 15:00</option>
                                <option value="15:00 – 16:00">15:00 – 16:00</option>
                                <option value="16:00 – 17:00">16:00 – 17:00</option>
                                <option value="17:00 – 18:00">17:00 – 18:00</option>
                                <option value="18:00 – 19:00">18:00 – 19:00</option>
                            </select>
                            <select class="form-select form-select-lg mb-3" style="text-align: center;" multiple
                                name="optionv" id="viernes">
                                <option value="">--Viernes--</option>
                                <option value="09:00 – 10:00">09:00 – 10:00</option>
                                <option value="10:00 – 11:00">10:00 – 11:00</option>
                                <option value="11:00 – 12:00">11:00 – 12:00</option>
                                <option value="13:00 – 14:00">13:00 – 14:00</option>
                                <option value="14:00 – 15:00">14:00 – 15:00</option>
                                <option value="15:00 – 16:00">15:00 – 16:00</option>
                                <option value="16:00 – 17:00">16:00 – 17:00</option>
                                <option value="17:00 – 18:00">17:00 – 18:00</option>
                                <option value="18:00 – 19:00">18:00 – 19:00</option>
                            </select>
                            <select class="form-select form-select-lg mb-3" style="text-align: center;" multiple
                                name="options" id="sabado">
                                <option value="">--Sabado--</option>
                                <option value="09:00 – 10:00">09:00 – 10:00</option>
                                <option value="10:00 – 11:00">10:00 – 11:00</option>
                                <option value="11:00 – 12:00">11:00 – 12:00</option>
                                <option value="13:00 – 14:00">13:00 – 14:00</option>
                                <option value="14:00 – 15:00">14:00 – 15:00</option>
                                <option value="15:00 – 16:00">15:00 – 16:00</option>
                                <option value="16:00 – 17:00">16:00 – 17:00</option>
                                <option value="17:00 – 18:00">17:00 – 18:00</option>
                                <option value="18:00 – 19:00">18:00 – 19:00</option>
                            </select>

                        </td>



                        <td colspan="2" id="abutton"><button id="buttonEditA" style="float: right;"
                                class="btn btn-secondary" onclick="editAvailable()"> Edit </button></td>


                        <span id="error"></span>
                    </tr>


                    <tr id=" tposition">
                        <th scope="row">Position :</th>
                        <td colspan="1" id="position">{{doctor.position}}</td>
                        <td colspan="2" id="pbutton"><button id="buttonEditP" style="float: right;"
                                class="btn btn-secondary" onclick="editPosition()"> Edit </button></td>


                    </tr>
                    <tr id=" tdescription">
                        <th scope="row">Description :</th>
                        <td colspan="1" id="description">{{doctor.description}}</td>
                        <td colspan="2" id="dbutton"><button id="buttonEditD" style="float: right;"
                                class="btn btn-secondary" onclick="editDescription()"> Edit </button></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid" style=" padding: 35px;">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <span id="name">Nexts Appointments</span>
                    <span class="btn btn-outline-success" id="count" role="alert">{{count_approved}}
                    </span>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="d-flex flex-wrap " style=" align-items: center;text-align: center; padding: 25px;">
                        {% if appointment.length != 0 %}
                        {% for appoint in appointment %}
                        {% if appoint.approved and not appoint.canceled %}


                        <div style="background-color: rgb(23, 82, 0)">

                            <div class=" card" style="width: 18rem;margin: 8px;">


                                <div class="card-body">
                                    <h5 class="card-title">Reserva de {{appoint.patient}} </h5>
                                    <p class="card-text">Patient Phone : {{appoint.patient.phone}}</p>
                                    <p class="card-text">Patient email : {{appoint.patient.user.email}}</p>
                                    <p class="card-text">Comments : {{appoint.comment}}</p>
                                    <p>{{appoint.datetime}}</p>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        Cancel Appointment
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete
                                                        Appointment
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    If you continue is not going back , you are going to cancel de
                                                    session.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="button" onclick="cancelAppoint({{appoint.id}})"
                                                        class="btn btn-primary">Cancel
                                                        Appointment</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        {% endif %}
                        {%endfor%}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <span id="name">Appointments for approve</span>
                    <span class="btn btn-outline-warning" id="count" role="alert">{{ count_forapproved}}
                    </span>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="d-flex flex-wrap " style="align-items: center;padding: 25px;; text-align: center">
                        {% for appoint in appointment %}
                        {% if not appoint.approved and not appoint.canceled%}

                        <div style="background-color: rgb(240, 201, 96)">

                            <div class=" card" style="width: 18rem;margin: 8px;">


                                <div class="card-body">
                                    <h6 class="card-title">Reserva de {{appoint.patient}} ( Esperando por aprobar... )
                                    </h6>
                                    <p class="card-text">Patient Phone : {{appoint.patient.phone}}</p>
                                    <p class="card-text">Patient email : {{appoint.patient.user.email}}</p>
                                    <p class="card-text">Comments : {{appoint.comment}}</p>
                                    <p>{{appoint.datetime}}</p>
                                    <a onclick="approved({{appoint.id}})" class="btn btn-primary">Approve
                                        appointmtent</a>

                                </div>
                            </div>





                        </div>


                        {% endif %}
                        {%endfor%}


                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <span id="name">Canceled Appointment </span>
                    <span id="count" class="btn btn-outline-danger " role="alert">{{ count_canceled}}
                    </span>
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="d-flex flex-wrap"
                        style="align-items: center;padding: 0 0 25px 25px; text-align: center;">

                        {% for appoint in appointment %}
                        {% if appoint.canceled %}
                        <div style="background-color: brown">



                            <div class=" card" style="width: 18rem;margin: 8px;">


                                <div class="card-body">
                                    <h5 class="card-title">Reserva de {{appoint.patient}}</h5>
                                    <p class="card-text">Comments : {{appoint.comment}}</p>
                                    <p>{{appoint.datetime}}</p>
                                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            Delete Appointment
                                        </button>-->

                                    <!-- Modal -->
                                    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Appointment</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        If you continue is not going back , you are going to remove from the database.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="button" onclick="deleteAppoint({{appoint.id}})"
                                                            class="btn btn-primary">Delete
                                                            Appointment</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->


                                </div>
                            </div>

                        </div>
                        {% endif %}
                        {%endfor%}



                    </div>
                </div>
            </div>
        </div>
    </div>

</div>








{% endblock %}