#carouselExampleCaptions .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  margin-top: auto;
}
.accordion-item .accordion-button {
  display: block;
}
#name {
  float: left;
  justify-content: center;
  align-items: center;
}
#count {
  float: right;
  justify-content: center;
  align-items: center;
  text-align: center;
}
